.content {
    background-color: orangered;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color:#000;
    border-radius:100px;
 
}








    




    .
        
    

    
    
    
        
    

